<footer>
    <div class="footer-links">
      <ul>
        <li><a href="#">Explore Photography</a></li>
        <li><a href="#">Commercial Photography</a></li>
        <li><a href="#">Wedding Photography</a></li>
        <li><a href="#">Portraits</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
    <p>&copy; 2024 FrameFlow. All rights reserved.</p>
  </footer>