<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photo Gallery - FrameFlow</title>
  <link rel="stylesheet" href="/css/explore.css">
</head>
<body>
    <!-- Header Section -->
    <%- include("includes/header.ejs") %>

  <section class="gallery">
    <h1>Photo Gallery</h1>
    <br>
    <p>
        Our gallery showcases a diverse collection of captivating moments, artistic visions, and unique perspectives from professionals around the globe. Whether you’re seeking inspiration for your next project or looking for the perfect photographer to bring your vision to life, our gallery offers a glimpse into the wide range of expertise available. From breathtaking landscapes to intimate portraits, each image reflects the skill, passion, and dedication of our community.
        Explore, be inspired, and connect with the talent that resonates with your vision.
    </p>
    <br>
    <div class="gallery-images">
      <img src="assets/images/explore/explore_images.png">
      <!-- <img src="image2.png" alt="Image 2">
      <img src="image3.png" alt="Image 3"> -->
    </div>
  </section>

<br>

  <section class="top-rated">
    <h2>Top Rated Photographers of the Week</h2>
    <br>
    <div class="photographers">
      <div class="photographer-card">
        <img src="assets/images/explore/photographer1.png" alt="Photographer 1">
        <h3>Dhansuh Sankar</h3>
        <br>
        <!-- <p>A renowned fashion and beauty photographer...</p> -->
        <p>A renowned fashion and beauty photographer, high-fashion editorial work with a signature style marked by sophistication and creativity</p>
        <br>
      </div>
      <div class="photographer-card">
        <img src="assets/images/explore/photographer2.png" alt="Photographer 2">
        <h3>Isabel Mace</h3>
        <br>
        <p>Famous for her emotive family and childhood photography, lara captures heartwarming, rustic scenes with a dreamy, narrative style​</p>
      </div>
      <div class="photographer-card">
        <img src="assets/images/explore/photographer3.png" alt="Photographer 3">
        <h3>Peter Matrikon</h3>
        <br>
        <p>Known for his cinematic visuals and engaging photography tutorials,he inspires content creators with his versatile photography and filmmaking skills​</p>
      </div>
    </div>
  </section>

  <br>

  <!-- <section class ="album-photo"> -->
    <div class="albumlike">
      <img src="assets/images/explore/Album.png" alt="ALbum"> 
    </div>
    <br>
    <br>
    <br>
    <div class="albumlike">
      <img src="assets/images/explore/TiltedAlbum.png" alt="slanted">
    </div>
  <!-- </section> -->

  <section class="bottom-section">
    <h2>Hire the best Photographers only on FrameFlow</h2>
    <br>
    <br>
    <br>
    <br>
    <div class="call-to-action">
      <a href="..\hire_page\hire.html">Book Right Now!</a>
    </div>
  </section>

  <!-- Footer part -->
  <%- include("includes/footer.ejs") %>
  
</body>
</html>
