/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1f1f1;
  }
  
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #151515;
}

.navbar h1 {
  color: #fff;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.contact-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
  
  /* Gallery Section */
  .gallery {
    text-align: justify;
    margin-top: 2em;
  }
  
  .gallery h1 {
    font-size: 2.5em;
        text-align: center;

  }
  
  .gallery p {
    width: 63%;
    margin: 1em auto;
    line-height: 1.6;
    color: #ccc;
  }
  
  .gallery-images {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;

  }
  
  .gallery-images img {
    width: 750px;
    height: auto;
    border-radius: 8px;
  }
  
  /* Top Rated Section */
  .top-rated {
    text-align: center;
    margin: 3em 0;
  }
  
  .top-rated h2 {
    font-size: 2em;
  }
  
  .photographers {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
  }
  
  .photographer-card {
    background-color: #1c1c1c;
    padding: 1em;
    border-radius: 8px;
    width: 250px;
  }
  
  .photographer-card img {
    width: 100%;
    border-radius: 0%;
  }
  
  .photographer-card h3 {
    margin-top: 1em;
    font-size: 1.2em;
  }
  
  .photographer-card p {
    margin-top: 0.5em;
    color: #999;
  }
  
  .albumlike {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 2em;

  }
  
  .albumlike img {
    width: 750px;
    height: auto;
    border-radius: 8px;
  }

  /* Bottom Section */
  .bottom-section {
    text-align: center;
    margin: 3em 0;
  }
  
  .call-to-action a {
    background-color: #4caf50;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
  }
  
  .call-to-action a:hover {
    background-color: #45a049;
  }
  
  /* Footer */
  footer {
    background-color: #000;
    padding: 2em;
    text-align: center;
  }
  
  .footer-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #f1f1f1;
  }
  
  footer p {
    margin-top: 1.5em;
    color: #666;
  }
  